/* ベーススタイル */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    table-layout: fixed;
  }
  
  td, th {
    border: 1px solid #aaaaaa;
    padding: 8px;
    text-align: right;
    width: 25%;
  }
  
  tr:first-child, td:first-child {
    background-color: #9BFFE1;
  }
  
/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    table {
        width: 100%; /* スマートフォンではテーブル幅を100%に */
        table-layout: fixed; /* セルの幅を均等に */
    }
}

/* タブレット用のスタイル */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* デスクトップ用のスタイル */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
    }
}